h1, h2, h3 {
  color: blue;
  font-style: sans-serif;
}

th {
  color: red;
  font-weight: bold;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
}

list, li {
  list-style-type: square;

}

a:hover {
  background-color: yellow;
}

a{
  text-decoration: none;
}

blockquote {
  color: yellow;
  background-color: blue;
}

